@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,82.1;1,82.1&display=swap');
/*General styles*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h1, a, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.container {
    max-width: 1140px;
    margin: auto;
    padding: 40px 0px;
}
.banner {
    background-image: url('../assets/images/bg-hero-desktop.jpg');
}
.banner-opacity {
    height: 100%;
    width: 100%;
    background: rgb(158 229 242 / 40%);
}

/*Header Area*/
.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link a {
    color: #000;
    font-size: 14px;
    padding: 14px 60px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 1px 1px 6px #ccc;
}
.header-link a:hover{
    background-color: #f5f5f5;
}

/*Hero Community Area*/
.hero-community {
    display: flex; 
}
.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-right: 20px;
}
.leftside h1 {
    line-height: 65px;
    font-size: 45px;
}
.leftside p {
    line-height: 29px;
    font-size: 20px;
    margin: 30px 0px;

}
.rightside .hero-img img {
    max-width: 600px;
}
.leftside .community-button {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 19px 60px;
    background-color: #f849b6;
    border-radius: 40px;
    max-width: 300px;
}

/*Main Area*/
main {
    background-color: hsl(193, 100%, 96%);
}
.community-info {
    width: 100%;
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 1px 1px 6px #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
}
.community-info:first-child {
    margin-top: 80px;
}

.community-info {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.community-leftside p {
    line-height: 29px;
    font-size: 20px;
    margin: 30px 0px;
    color: #999;
    max-width: 450px;
}
.community-rightside img {
    max-width: 500px;
    width: 100%;
    height: 300px;
}

.ready-to-build--area {
    position: relative;
    text-align: center;
    padding: 50px;
    max-width: 600px;
    height: 220px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 80px;
}
.ready-to-build--title h2 {
    margin-bottom: 40px;
}
.ready-to-build--button a  {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 19px 60px;
    background-color: #f849b6;
    border-radius: 40px;
    max-width: 300px; 
}

/*Footer Area*/
footer {
    color: #fff;
    padding-top: 100px;
    margin-top: -138px;
    background-color: hsl(192, 100%, 9%);
}
.footer-area {
    display: flex;
}
.footer-leftside {
    flex: 1;
}
.footer-leftside .footer-logo img{
    margin-bottom: 30px;
}
.footer-leftside .address {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-leftside .address img {
    width: 16px;
    height: 21px;
    margin-right: 20px;
}
.footer-middleside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-info--left {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.middle-info--right {
    display: flex;
    flex-direction: column;
}
.footer-middleside a {
    color: #fff;
    margin-bottom: 12px;
}
.footer-middleside a:hover {
    text-decoration: underline;
}
.footer-rightside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.socialmedias {
    display: flex;
}
.social-photo {
    margin-right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.attribution {
    font-size: 15px;
    text-align: center;
}
.attribution a {
    color: rgba(50, 110, 201, 0.849);
    text-decoration: underline;
}


/*RESPONSIVITY*/

/*Tablet Size*/
@media (min-width: 650px) and (max-width: 890px) {
    .container{
        padding: 40px 20px;
    }
    .hero-community {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .leftside {
        margin-right: 0px;
    }
    .leftside .community-button {
        margin: auto;
        margin-bottom: 66px;
    }
    .rightside .hero-img img {
        width: 100%;
        max-width: 890px;
    }
    .footer-leftside {
        flex: 2;
        padding-right: 10px;
    }
    .footer-middleside {
        flex: 2;
    }
}

/*Mobile Size*/
@media (max-width: 649px) {
   
    .container{
        padding: 40px 20px;
    }
    .header-logo img {
        width: 100%;
        max-width: 110px;
    }
    .header-link a {
        font-size: 13px;
        padding: 4px 29px;    
    }
    .hero-community {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-community .leftside {
        margin-right: 0px;
    }
    .leftside h1 {
        line-height: 41px;
        font-size: 23px;
    }
    .leftside p {
        font-size: 17px;
    }
    .leftside .community-button {
        margin: auto;
        margin-bottom: 66px;
    }
    .rightside .hero-img img {
        width: 100%;
        max-width: 640px;
    }
    .community-info {
        flex-direction: column-reverse;
        padding: 36px 30px;
        text-align: center;
    }
    .community-leftside h2 {
        margin-top: 37px;
    }
    .community-info:nth-child(2) {
        flex-direction: column;
    }
    .ready-to-build--area {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ready-to-build--title h2 {
        font-size: 20px;
    }
    .ready-to-build--button a {
        padding: 19px 20px;
    }
    .footer-area {
        flex-direction: column;
    }
    .footer-middleside {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 56px;
        margin-bottom: 40px;
    }
    .footer-middleside a {
        margin-bottom: 26px;
    }
    .footer-rightside {
        justify-content: center;
    }
}