@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,82.1;1,82.1&display=swap');
/*General styles*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
h1, a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.container {
    max-width: 1140px;
    margin: auto;
    padding: 40px 0px;
}
.banner {
    background-image: url('../assets/images/bg-hero-desktop.jpg');
}
.banner-opacity {
    height: 100%;
    width: 100%;
    background: rgb(158 229 242 / 40%);
}

/*Header Area*/
.header-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link a {
    color: #000;
    font-size: 14px;
    padding: 14px 60px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 1px 1px 6px #ccc;
}

/*Hero Community Area*/
.hero-community {
    display: flex; 
}
.leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-right: 20px;
}
.leftside h1 {
    line-height: 65px;
    font-size: 45px;
}
.leftside p {
    line-height: 29px;
    font-size: 20px;
    margin: 30px 0px;

}
.rightside .hero-img img {
    max-width: 600px;
}
.leftside .community-button {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 19px 60px;
    background-color: #f849b6;
    border-radius: 40px;
    max-width: 300px;
}